.wd-align-text-right {
  text-align: right;
}

.wd-align-text-left {
  text-align: left;
}

.wd-inside-form-card {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  padding-inline: 12px;
}

.wd-inside-form-top {
  padding-top: 18px;
  padding-bottom: 5px;
  text-align: left;
  padding-inline: 10px;
}

.wd-inside-form-bottom {
  padding-top: 8px;
  padding-bottom: 18px;
  text-align: left;
  padding-inline: 12px;
}
