.input-width {
    width: 75%;
}

.input-space {
    margin: 2px;
}

.input-corners {
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.wd-button-space {
    margin: 5px;
}

.label-space {
    width: 100px;
}

.input-green-button {
    background-color: green;
    color: white;
}

.input-red-button {
    background-color: red;
    color: white;
}

.input-small {
    width: 60%;
}